amqp==1.4.9
anyjson==0.3.3
Babel==2.3.3
backports.ssl-match-hostname==3.5.0.1
billiard==3.3.0.23
celery==3.1.18
certifi==2016.2.28
diff-match-patch==20121119
dj-database-url==0.4.1
Django==1.9.5
django-import-export==0.4.5
django-paypal==0.3.2
flower==0.9.1
futures==3.0.5
gunicorn==19.4.5
kombu==3.0.35
Pillow==3.2.0
pytz==2016.3
requests==2.9.1
six==1.10.0
tablib==0.11.2
tornado==4.2
whitenoise==3.0
