{%extends 'base.html'%}
{%load static%}

{%block titulo%}
{%if category%}{{category.title}}
{%else%}
Productos:
{%endif%}
{%endblock titulo%}

{%block content%}
<section class="container">
<article class="row">

<div class="col m8">
 <img class="materialboxed" width="100%" src="{%if product.image%}{{product.image.url}}{%else%}{%static 'img/photo_not_available.png'%}{%endif%}">

</div>

<div class="col m4">
<h4>{{product.name}}</h4>
  <div class="chip">
  	<a href="{{product.category.get_absolute_url}}">
	    {{product.category}}	
	</a>
	    {# <i class="material-icons">close</i> #}
  </div>
<p class="price black-text">

	$ {{product.price}}

</p>

<form action="{%url 'cart:cart_add' product.id%}" method="post">
	{%csrf_token%}
	{{cart_product_form}}
	<input class="btn grey wave-effect" type="submit" value="Agregar al carrito">
</form>
<div class="space"></div>
<h5>Descripción</h5>
<div class="divider"></div>
<p>
{{product.description|linebreaks}}
</p>


</div>




</article>



</section>



{%endblock%}

{%block scripts%}
<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>
{%endblock scripts%}