{%load static%}
<!DOCTYPE html>

<html>
<head>
	<title>{%block titulo%}Namuh{%endblock titulo%}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width:device-width">


   <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  {%block estilos%}
  {%endblock estilos%}

	<link rel="stylesheet" type="text/css" href="{%static 'css/bliss.css'%}">
  <link rel="icon" 
      type="image/png" 
      href="{%static 'logo.png'%}">







</head>
<body>
	<nav class="gris">
    <div class="nav-wrapper">
      <a href="{%url 'main:home'%}" class="brand-logo black-text">
        <img class="brand" src="{%static 'logo_nav.png'%}">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#!" class="grey-text">
          {%with total_items=cart|length%}
          {%if cart|length > 0%}
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> 

          Tu carrito:
          <a class="grey-text" href="{%url 'cart:cart_detail'%}">
            {{total_items}} Articulo{{total_items|pluralize}}, ${{cart.get_total_price}}
          </a>
          {%else%}
          <span class="grey-text">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> 
            <a class="grey-text" href="{%url 'shop:product_list'%}">Tu carrito está vacío.</a></span>
          {%endif%}
          {%endwith%}
        </a></li>
      </ul>
    </div>
  </nav>

	<div class="content main">

		{%block content%}
		{%endblock content%}

	</div>



<div class="gris">
        <footer id='footer' class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col s12 m12">

                <ul style="margin-top:0;">
                  <a href="{%url 'main:nosotros'%}">
                  <li class="menu">Nosotros</li>
                  </a>
                  <a href="{%url 'main:arch'%}">
                  <li class="menu">Espacio Arquitectonico</li>
                </a>
                  <a href="{%url 'main:policies'%}">
                  <li class="menu">Politicas</li>
                </a>
                  <li class="menu">Contacto</li>
                  <a href="{%url 'main:selling'%}">
                  <li class="menu">Puntos de venta</li>
                  </a>
                </ul>                
              
              </div>

            </div>
          </div>
          <div class="footer-copyright">
            <div class="row">
            


            <div class="boton col m4 s4">
            <strong>Suscribete</strong><br>
              Forma parte de nuestro news letter
            </div>

            <div class="col m5 s2 center">
              <img style="width:40px;" src="{%static 'logo.png'%}">
            </div>

      <div class="social col m2 s5">
            <a style="margin-right: 1rem;" class="grey-text" href="#!">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a style="margin-right: 1rem;" class="grey-text" href="#!">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
            <a style="margin-right: 1rem;" class="grey-text" href="#!">
              <i class="fa fa-pinterest-square" aria-hidden="true"></i>
            </a>
      </div>


            </div>
          </div>
        </footer>
</div>









<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <script>
 $(document).ready(function() {
    $('select').material_select();
  });
 </script>

  {%block scripts%}
  {%endblock scripts%}
</body>
</html>