{%extends 'base.html'%}
{%load static%}  

{%block content%}    
      <main class="row us-main-body">
          <h3 style="text-align: center; color: grey;">Arquitectónico</h3>
          <section>
              <img class="bottom-img" src="<%= image_url('namuh/DSC03715.jpg') %>" alt="">
          </section>
          <section>
              <img class="bottom-img" src="<%= image_url('namuh/DSC03723.jpg') %>" alt="">
          </section>
          <section>
              <img class="bottom-img" src="<%= image_url('namuh/DSC09517.jpg') %>" alt="">
          </section>
          <section>
              <h4 style="color: grey;">PROYECTOS INTEGRALES</h4>
              <p style="color: #B6B6B6; margin-bottom: 100px;">¿Algún proyecto en mente? En Namuh contamos con el equipo especializado en asesorar y diseñar tu espacio.<br>Ofrecemos productos especiales para tus proyectos.<br>Para mas información <a href="/contact-us" title="Contáctanos">contáctanos</a>.</p>
          </section>
      </main> 

{%endblock content%}