{%extends 'base.html'%}
{%load static%}

{%block estilos%}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{%static 'css/custom.css'%}">
{%endblock estilos%}

{%block content%}
<main class="row us-main-body">
          <section class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px;">
            <article class="policies-content">
              <h3 class="policies-title">NAMUH S.A. DE C.V. SALES POLICIES</h3>            
              <ol>
                <h5>PRECIOS</h5>
                <li>Sujetos a cambios sin previo aviso.</li>
                <li>No incluyen flete, maniobras, ni empaques especiales requeridos.</li>
                <li>Para reservar un artículo es necesario depositar 50% del valor, y solamente se reservará
                durante 15 días, transcurrido este tiempo, el artículo se liberará y quedará como saldo 
                a favor el 50% depositado. la vigencia de las cotizaciones es de 5 días naturales.
                <br>
                Ej. Al realizar un depósito es indispensable enviar la ficha bancaria por correo electrónico a la persona de
                ventas que lo atendió, incluyendo su número de cotización y su código de cliente, en caso de contar con el.</li>
                </ol>
                <ol>
                <h5>FACTURACIÓN</h5>
                <li>Es responsabilidad del cliente solicitar la factura al momento de efectuar la compra, de lo contrario no se 
                podrá facturar. El cliente deberá asegurarse que sus datos de facturación sean correctos, ya que una vez efectuada la factura,
                no podrá ser emitida nuevamente. </li>
                </ol>
                <ol>
                <h5>PRODUCTOS</h5>
                <li>Nuestros mobiliario y artículos decorativos no incluyen accesorios, tales como vidrios, velas, focos, cojines, etc. excepto cuando éstas</li>
                se especifiquen en la etiqueta.
                <li>Nuetros productos son únicos o fabricados a mano, por lo que entre ellos siempre se apreciará alguna pequeña variante de color o textura.</li>
                <li>Nuestro tiempo de producción será de 8 a 10 semanas a partir de la entrega del anticipo.</li>
                </ol>
                <ol>
                <h5>ALMACENAJE</h5>
                <li>Nuestros pedidos que no sean recogidos después de un mes, estarán sujetos a un costo de almacenaje del 5 % mensual de su valor total.</li>
                </ol>
                <ol>
                <h5>DEVOLUCIONES</h5>
                <li>Los pedidos confirmados y pagados total o parcialmente serán reembolsables únicamente en mercancía o nota de crédito.
                Ej No habrá devoluciones transcurrido un mes a partir de la compra. No se aceptarán devoluciones en mercancía en liquidación
                o piezas específicas como: cojines, velas, telas, tapetes, cerámica y vidrio. No existe devolución de artículos de producción especial, o en 
                artículos previamente señalados al momento de la compra.</li>
                </ol>
                <ol>
                <h5>VISTAS</h5>
                <li>Excepcionalmente se podrá autorizar el traslado de mercancía a vistas, solamente con garantía de pago en tarjeta de  crédito o efectivo por el valor total.</li>
                <li>Se concederán 5 días hábiles dentro de los estados de Querétaro y Guanajuato y 10 días en el resto de la República.</li>
                <li>Si la mercancía presenta daño, el cliente tendrá que cubrir el costo de reparación o pago total si este fuere el caso.</li>
                <li>Si trascurrido este periodo la mercancía no es regresada a tiempo la garantía no se devolverá aún cuando la mercancía sea retornada y quedará como 
                saldo a favor para futuras compras. El cliente cubrirá los costos del flete de esta mercancía.</li>
                </ol>
                <ol>
                <h5>ENVÍOS</h5>
                <li>En caso de que el cliente solicite el envío de su mercancía a su domicilio, Namuh procederá a cotizar con varios transportistas independientes, para informar 
                al cliente de las opciones y ayudar a coordinar el envío. Quedando por entendido que Namuh no es responsable por los daños
                o robos en el envío, y el cliente deberá contratar un envío con seguro que ampare la mercancía. En caso contrario, la responsabilidad total será del cliente. </li>
                </ol>
            </article>
          </section>
      </main>

{%endblock content%}