{%extends 'base.html'%}
{%load static%}      
     <main class="row us-main-body">
          <section class="product-detail-picture col-xs-12 col-sm-6 col-md-6">
            <h4>NOSOTROS</h4>
          </section>
          <section class="product-detail-info col-xs-12 col-sm-6 col-md-6">
            <article>
             <p>Ubicada en San Miguel de Allende, NAMUH se ha convertido para algunos iniciados en el universo creativo en la casa de diseño y decoración más exclusiva y con mayor propuesta de México. Esta bodega, con más de cuatro mil metros cuadrados de espacio de exhibición, escondida en las afueras del pueblo, se fundó hace más de 16 años y, ahora, es una referencia de vanguardia para decoradores, interioristas y arquitectos que buscan tanto historia milenaria como lo último en mobiliario original y contemporáneo.
             </p>

             <p>Al no existir una traducción literal del coreano, podemos acercar la palabra namuh al concepto de árbol; sin embargo, un árbol que en la filosofía de este país proyecta fuerza y protección, que genera sombra y ricos nutrientes.
             </p>
             <p>Namuh busca transmitir historia y cultura al traer a México sorprendentes objetos de los países más exóticos del mundo. En especial, ha reunido una extraordinaria selección de antigüedades y objetos importados de Asia. El secreto de la marca ha sido siempre el savoir-faire en la selección minuciosa del mobiliario, piezas de arte-objeto y accesorios. Cada producto es original y único, ya que tiene una historia fascinante que transmitir al usuario. </p>

             <p>Recientemente, este sitio creativo ha sido reforzado con un despacho de diseño industrial, Studio Namuh, que complementa un negocio disruptivo en iluminación y mobiliario, diferente y osado, así como con una fábrica moderna que materializa su filosofía en productos innovadores.</p>

             <p>Aunque los modelos son siempre cambiantes, su estilo se antoja elegante, siempre acompañados de colores neutros, ricos en maderas y tierras ocres, delicadamente combinados con metales y con el nuevo exotismo mexicano, logrando así accesorios extravangantes difícil de igualar.</p>

             <p>Namuh se caracteriza por la calidad de sus piezas, así como por tener una rotación de inventarios alta, por lo que siempre resulta cautivador conocer los nuevos arribos de los productos en la bodega de San Miguel de Allende, Ciudad Patrimonio de la Humanidad por la UNESCO.</p>
            </article>
          </section>
          <section class="us-manuh-down-title col-xs-12 col-sm-12 col-md-12">
            <p>CADA PIEZA ES UNA</p>
            <br>
            <P>HISTORIA</P>
            <br>
            <P>NAMUH</P>
          </section>
          <img class="bottom-img" src="<%= image_url('us-img.png') %>" alt="">
      </main>